body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#viewer {
    width: 100%;
    height: calc(100% - 50px); /* 留出空間給標題和下載鏈接 */
}
h1, a {
    margin: 5px 0;
}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    z-index: 1;
}
#instructions {
    text-align: center;
}
#interactionTip {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1;
    display: none; /* Initially hidden */
}

/* 修改樓層按鈕樣式 */
#floor-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    display: flex; /* 在頁面加載時顯示 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 置中 */
}
.floor-button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 50%; /* 圓形按鈕 */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 50px; /* 垂直置中 */
}
#vr-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 100;
}